@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #f5f5f5;
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  
}
button{
    border: none;
    background-color: transparent;
}
button::first-letter{
    text-transform: uppercase;
}
.btn{
    background-color: transparent;
    font-size: 14px;
    padding: 0.6rem 0.8rem;
    border-radius: 5px;
    letter-spacing: 3px;
    border: 1px solid #fff;
    text-transform: uppercase;
    display: inline-block;
    color: #fff;
    transition: all 0.3s linear;
}
.btn:hover{
    background-color: #fff;
    cursor: pointer;
    color: hsl(21, 62%, 45%);
}
.nav{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    z-index: 4;
}
.nav-container{
    max-width: 1170px;
    width: 90vw;
    
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
   
    align-items: center;
    height: 6rem;
}
.toggle-btn{
  background-color: hsl(21, 62%, 45%);
  padding: 0.4rem 1.2rem;
  color: #fff;
  font-size: 24px;
  line-height: 24px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s linear;
}
.toggle-btn:hover{
  background-color: hsl(21, 62%, 25%);
}
.logo{
  flex: 1;
  display: flex;
  justify-content: center;
}
.nav-links{
    display: flex;
    justify-content: start;
    transition: all 0.3s linear;
}
.link-btn{
    background-color: transparent;
    margin-right: 3rem;
    font-size: 20px;
    color: #fff;
    letter-spacing: 2px;

}
.dart .link-btn{
  color: hsl(209, 61%, 16%);
}
.link-btn:hover{
  color: hsl(21, 62%, 45%);
}
.toggle-btn{
    display: none;
}
.dart .toggle-cart{
  color: hsl(209, 61%, 16%);
}
.toggle-cart{
  color: #fff;
  font-size: 26px;
  position: relative;
  cursor: pointer;
}
.cart-item-count{
  top: -50%;
  right: -50%;
  position: absolute;
  font-size: 16px;
  line-height: 1.6rem;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  color: #fff;
  background-color: hsl(21, 62%, 45%);
}
.wrapper{
    max-width: 1170px;
    width: 90vw;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}
.title{
    font-family: 'Kaushan Script', cursive;
    color: #fff;
    width: 100%;
    font-size: 64px;
    margin: 0;
    letter-spacing: 5px;
    line-height: 1;
}
.desc{
    font-size: 20px;
    margin: 0 0 2rem;
    color: #fff;
    line-height: 1;
    margin: 1rem 0 2rem;
}
.image{
    width: 192px;
    margin: 0 4rem;
    display: none;
}
.image img{
    width: 100%;
    object-fit: cover;
}
.banner{
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://vanilla-js-store.netlify.app/images/main-bcg.jpeg) no-repeat center/cover;
    z-index: -1;
    background-size: cover;
}

.featured{
  width: 100%;
  /* background-color: #f5f5f5; */
}
.wrapper-feature{
  width: 90vw;
  max-width: 1170px;
  margin: 3rem auto;
  text-align: center;
}
.featured-title{
  color: hsl(209, 61%, 16%);
  font-size: 40px;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 2rem;
}
.featured-title span{
  color: hsl(21, 62%, 45%);
}
.products-preview{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 1rem;
}
.preview-product{
  width: 100%;
  text-align: center;
}
.product-image{
  width: 100%;
  height: 240px;
  position: relative;
  
}
.product-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-icons{
  
  position: absolute;
  top: calc(120px - 1.5rem);
  left: calc(50% - 3rem);
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-icon{
  margin: 0.5rem;
  font-size: 16px;
  line-height: 2rem;
  color: #fff;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: hsl(21, 62%, 45%);
  opacity: 0;
  transition: all 0.2s linear;
}
.product-icon:hover{
  background-color: hsl(21, 62%, 65%);
  cursor: pointer;
}
.product-image:hover .product-icon{
  opacity: 1;
}
.preview-product .name{
  font-size: 16px ;
  margin-top: 1rem;
  font-weight: 400;
  color: hsl(210, 22%, 49%);
  letter-spacing: 3px;
}
.preview-product .price{
  font-size: 16px ;
  font-weight: bold;
  color: hsl(209, 61%, 16%);
  letter-spacing: 3px;
}
.btn-products{
  margin: 0 auto;
  display: block;
  width: 80%;
  background-color: hsl(21, 62%, 45%);
  margin-top: 2rem;
  color: #fff;
  max-width: 176px;
}
.btn-products:hover{
  background-color: hsl(21, 62%, 25%);
}
@media screen and (min-width:800px){
    .banner::before{
        height: 65%;
        background-size: contain;
    }
    .image{
        display: block;
    }
    .title{
        
      font-size: 86px;
  }
  .desc{
    font-size: 44px;}
}
@media screen and (max-width:800px){
    .nav-links{
        display: none;
    }
    .btn-signIn{
        display: none;
    }
    .toggle-btn{
        display: block;
    }
    .banner::before{
        height: 80%;
        background-size: cover;
    }
    .title{
        
      font-size: 46px;
  }
}
@media screen and (min-width:1200px){
    .image{
        width: 270px;
    }
}

/* side bar */
.sidebar-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    visibility: hidden;
    z-index: -1;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: all 0.4s linear;

  }
  .sidebar-wrapper.show {
    visibility: visible;
    z-index: 5;
    opacity: 1;
  }
  .sidebar-wrapper.show .sidebar {
    visibility: visible;
  }
  .sidebar {
    margin: 1rem auto 1rem;
    width: 90vw;
    height: 95vh;
    max-width: 620px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    padding: 4rem ;
    visibility: hidden;
  }
  .close-btn {
    font-size: 2rem;
    background: transparent;
    border-color: transparent;
    color:hsl(210, 22%, 49%);
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
  }
  .sidebar article {
    margin-bottom: 2rem;
  }
  .sidebar-links {
  }
  .sidebar-links a {
    display: block;
    padding: 0.5rem 0;
    color: hsl(209, 61%, 16%);
    text-transform: capitalize;
    font-size: 24px;

  }
  .sidebar-links i {
    color: hsl(210, 22%, 49%);
    margin-right: 1rem;
    font-size: 24px;
  }
  /* toggle-cart */
  .cart-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    z-index: -2;
  }
  .cart-overlay.show{
    opacity: 1;
    z-index: 11;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .cart-overlay.show .cart{
    transform: translateX(0);
  }
  .cart{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 420px;
    height: 100%;
    background-color: #fff;
    padding: 3rem 1rem;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transform: translateX(100%);

    transition: all 0.4s linear;
  }
  .cart-close{
    position: absolute;
    top: 0.5rem;
    left: 1rem;
    font-size: 32px;
  }
  .text-slanted{
    font-family: 'Kaushan Script', cursive;
    text-transform: capitalize;
    text-align: center;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: 400;
  }
  .cart-checkout{
    margin: 0 auto;
    display: block;
    width: 80%;
    background-color: hsl(21, 62%, 45%);
    margin-top: 2rem;
    color: #fff;
  }
  .cart-overlay footer{
    width: 100%;
  }
  .cart-checkout:hover{
    background-color: hsl(21, 62%, 25%);
  }